<h1>About us</h1>
<p>We founded meethodu.org after so much analysis on how can we create an efective platform to encourage social philanthrophy</p>
<br/>
<h2 id="about">Anish Muppalaneni</h2>
<p id="faq_alt">Anish is a Fulltime Engineer and does what ever he can in his remaining time to help the society on several causes. Most recently, he was seen among the crowds fighting for a strong anti corruption law in Indian government public services. </p>
<br/>
<h2 id="about">Aswani Kumar Nerella</h2>
<p id="faq_alt">Aswani is a Fulltime Engineer working on cutting edge research in a dominant company. He was last seen by general running for a Marathon to raise funds for AID, India.</p>
