<h1 id="faq_q">Can Methodu really work?</h1>
<p id="faq_alt">Ofcourse yes! We started meethodu.org after a field trial conducted in a remote village of AndhraPradesh, India. The success of meethodu primarily depends on the success rate of loan recollection</p>
<p id="faq_alt">Please sponsor only people whom you really trust. We are saying this because first, it impacts your relation with your friend who contributed the money. And second, it esentially removes a loan which could have helped someone else.</p>
<p id="faq_alt"> SO please be wise in your decisions to sponsor someone.</p>

