<h1>FAQ</h1>
<br/>
<p id="faq_q">1) What is Meethodu.org</p>
<p>A) Its a flexible platform for those who are looking for a loan to fund their project. Its flexible because you can negotiate the interest loan or waiver for your loan. Its also a platform for those who are looking to lend/donate money to someone whom they know</p>
<br/><hr/><br/>
<p id="faq_q">2) Does Meethodu provide any guarantee in loan collection or loan sponsorship?</p>
<p>A) Absolutely NO. Its strictly a matter of concern between you and your friend. We are here only to connect you two. How you guys negotiate the deal is all upto you. Infact, we dont even take any financial information from you.</p>
<br/><hr/><br/>
<p id="faq_q">3) How can we trust you with financial information</p>
<p>A) Please dont trust us. That's why we never ask for your card or bank details. The only financial information we ask from you, how much money you want to need/lend/dontate. Thats all</p>
<br/><hr/><br/>
<p id="faq_q">4) I have very few friends here. How to import more of them?</p>
<p>A) One way is to manually invite them. But we suggest you to wait until we fully integrate facebook APIs with our site. After that, you can easily add your friends.</p>
<br/><hr/><br/>
<p id="faq_q">5) What if no one sponsors my project?</p>
<p>A) We can't help you much with that. All projects are same for us and all projects get same visibility. Sorry, you can't pay us to show highlight your project.</p>
<br/><hr/><br/>
<p id="faq_q">6) What if I can't find any interesting project to sponsor?</p>
<p>A) Wait until we fully migrate to FaceBook APIs. We are expecting huge volume of visitors and thereby huge number of project requests. You will certainly find one good one among them.</p>
<br/><hr/><br/>
<p id="faq_q">7) What if the donor updates that he sent money, but I dont receive it even after long wait?</p>
<p>A) We suggest you to check with him to see if eveything is okay on their side. If you are still not convinced, dont hesitate to click NO on the notification in your profile page. That way, their donation will not be counted.</p>
<br/><hr/><br/>
<p id="faq_q">8) What if the donor is giving me very very less amount of money?</p>
<p>A) Some donation is better than nothing :). But its always upto you to accept or reject the donation</p>
<br/><hr/><br/>
<p id="faq_q">9) Why do you use the word donation/lend interchangiably</p>
<p>A) Because of a lack of more proper word. We don't know how you negotiate with donor. You can either get a complete donation or interest free loan or a loan with minimal interest. </p>
<br/><hr/><br/>