<h1>How Meethodu works?</h1>
<br/>
<p>Meethodu is a common extension to all the social interactions that we maintain online. Here is how it works:</p>

<br/><li id="faq_q">Lets say you find someone who is in need of money. You personally trust him and you believe that you can really help him by giving loan to his project. </li>
<br/><li id="faq_alt">Come to methodu.org and create a profile. Add all of your friends in your network. To make our lives easier, We are updating our site soon to import friends from facebook. </li>
<br/><li id="faq_q">Create the project from your account and add all information.</li>
<br/><li id="faq_alt"> If any of your friends are interested in funding the project, they let you know that they are willing to contribute some X amount for the project. You can either approve or reject their proposal. Strangers also can contribute to your project</li>
<br/><li id="faq_q"> If you approve their proposal, you contact them and figure out best way to transfer money to you. meanwhile, hey login to their account, and update 'sent' field  from MyContributions link as soon as they send money to you.</li>
<br/><li id="faq_alt"> Once they send money, you get a notification on your profile. Click 'yes' after you receive money. This adds the money to project status and let others know how much more your project needs </li>

