<h1 id="faq_q">Why it works?</h1>
<p id="faq_alt">Meethdu is founded on the same principles that the next generation of web is going to be. We strongly believe that your friends wil help you more that what a stranger can help. If you find a potential and trust worthy friend/contact/someone you know who need money, you just express that information on meethodu. Remember, there are many people out there who are willing to loan/contribute insane amounts of money for people they trust. Meethodu helps them in finding friends in need. Meethodu helps you find someone who can help you. </p>
