#mee_banner{
	background: #B5E61D;
	height: 150px;
	font: small-caps 140px/140px;
	color: #FFFFFF;
	text-align: center;
}

#mee_banner img{
	float: left;
}

#mee_banner_under_line{
	height: 3px;
	background: #000000;
}

#mee_main{
	margin-right: 250px;
	margin-left: 250px;
}


#mee_footer{
	background: #000000;

	font: small-caps 40px/40px ;
}

#mee_footer_list_faq{
	background: #000000;
	width: 50%;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 0px;
	float: left;
	list-style-image: none;
	list-style-image: none;
	list-style-type: none;
}

#mee_footer_list_contacts{
	background: #000000;
	width: 50%;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 0px;
	float: right;
	list-style-image: none;
	list-style-type: none;
}

#mee_footer_list_faq li {
        list-style-image: none;
	list-style-type: none;
}


#mee_footer_list_contacts li{
        list-style-image: none;
	list-style-type: none;
}

#mee_footer_list_faq li a{
	margin-right: 20px;
	font: small-caps;
	color: #B5E61D;
	float: right;
}

#mee_footer_list_contacts li a{
	margin-left: 20px;
	font: small-caps;
	color: #B5E61D;
	float: left;
}

.mee_line_odd{
	background: #B5E61D;
}

.mee_line_even{
	background: #FFFFFF;
}

#mee_user table{
	border-collapse: collapse;
}

#mee_user .mee_user_first_name{
	font-weight:  bold;
	font:  150% sans-serif;
}

#mee_user .mee_user_last_name{
	font-weight:  bold;
	font:  150% sans-serif;

}

 .page_directions{
	font:  150% sans-serif;
	
}


#error_notice{
        color: #000000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f78181;
        font: bold smaller sans-serif;
}

#info_notice{
        color: #000000;
        border: 2px solid green;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #E1F5A9;
        font: bold smaller sans-serif;
}
.mee_sign_up_link{
        color: #000000;
        font-weight:  bold;
	font:  200% sans-serif;
        text-align: center;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #B5E61D;
}

#mee_legend{
    color:#000000;
    background:#B5E61D;
    font-family: sans-serif;
    padding: 0.2em 1em;
}

.mee_incoming_friend_box div{
    display: inline;
}

#nav_links{
    vertical-align: bottom;
    text-align: right;
    font: 200%;
}